body {
  background-color: #efefef;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #676c7f;
}

li {
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.container{
  display: flex;
  align-items: center;
}

.navigation{
  display: inline-block;
  background-color: #676c7f;
  width: 100%;
}

.container a:link {
  text-decoration: none;
}

.container a:visited{
  text-decoration: none;
}

.goals-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #efefef
}

.history-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
}

.my-image{
  border-radius: 100%;
  max-width: 35%;
  max-height: 35%
}


li a:hover {
  background-color: #cfcfc4
}


.lets-do-this{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  background-color: #efefef;
}

div.navigation li.current{
  background-color: #ff6961;
}


.initially-hidden{
  display: none;
  background-color: #efefef;
}

.show-more {
  background: #76B3FA;
  border-radius: 50px;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  font-size: 1.45em;
  margin: 0 15px;
}

.button-div {
  text-align: center;
  background-color: #efefef;
}
